<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="standard-log" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="append" value="true" />
		<param name="immediateFlush" value="${logging.immediateFlush}" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="${catalina.base}/logs/standard.log" />
			<param name="FileNamePattern" value="${catalina.base}/logs/standard.%d{yyyy-MM}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5p  %c{1} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="${logging.minlevel}" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<appender name="measured-log" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="append" value="true" />
		<param name="immediateFlush" value="${logging.immediateFlush}" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="${catalina.base}/logs/measured.log" />
			<param name="FileNamePattern" value="${catalina.base}/logs/measured.%d{yyyy-MM}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5p  %c{1} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<appender name="error-log" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="append" value="true" />
		<param name="immediateFlush" value="${logging.immediateFlushError}" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="${catalina.base}/logs/error.log" />
			<param name="FileNamePattern" value="${catalina.base}/logs/error.%d{yyyy-MM}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5p  %c{1} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>
	
	<appender name="error-email" class="net.rdi.iospuzzle.common.CustomSMTPAppender">
		<param name="bufferSize" value="512" />
		<param name="Limit" value="100" />
		<param name="CycleSeconds" value="3600" />
		<param name="SMTPHost" value="${logging.mail.smtp.host}" />
		<param name="From" value="${logging.mail.smtp.from}" />
		<param name="To" value="${logging.mail.to}" />
		<param name="Subject" value="${logging.mail.subject}" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5p  %c{1} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<logger name="net.rdi.iospuzzle" additivity="false">
		<level value="${logging.minlevel}" />
		<appender-ref ref="standard-log" />
		<appender-ref ref="error-log" />
		<appender-ref ref="error-email" />
	</logger>

	<logger name="net.rdi.iospuzzle.common.aspects.ProfilingAspect" additivity="false">
		<level value="info" />
		<appender-ref ref="measured-log" />
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="error-log" />
		<appender-ref ref="error-email" />
	</root>

</log4j:configuration>